<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload papers</title>
</head>
<body>
    <form action="{% url 'index' %}" method="post">
     {% csrf_token %}
    <input type="text" name="email_id" placeholder="enter email">
    <input type="submit" value="yes">
</form>
<form action="{% url 'medic_search' %}" method="POST">
    {% csrf_token %}
  <input type="text" name="search" placeholder="search">
  <button type="submit" name="show">search</button>
</form>
{% if med_name %}
    <h1>{{med_name}}</h1>
    <h4>{{quantity}} - {{price}}</h4>
    <h6>{{about_med}}</h6>
{% endif %} 
</body>
</html>